In [3]:
import pandas as pd
import numpy as np
import pickle

In [4]:
pwd

'/Users/jmirabito/Desktop/Learn.co/mod_3_bakeoff/Bakeoff2'

In [5]:
df = pd.read_csv('/Users/jmirabito/Desktop/Learn.co/nyc-mhtn-ds-080320-lectures/Mod_3/bake_off/holdout_data.csv')

In [6]:
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,5501,180000,2,2,1,44,0,0,0,0,...,170788,174764,162667,166953,10000,8000,7000,6000,7000,10000
1,28857,130000,2,2,1,48,-2,-2,-2,-2,...,1487,1279,749,440,1240,1487,1279,749,440,849
2,11272,60000,2,1,1,43,-1,3,2,0,...,495,330,165,340,0,330,0,0,340,0
3,8206,240000,1,1,1,42,0,0,0,0,...,91027,51508,51127,0,20000,2213,1030,1023,6790,10893
4,6362,100000,2,2,1,28,2,0,0,0,...,70844,63924,57326,59654,3500,3003,1910,2400,3300,0